---js
const eleventyNavigation = {
    key: "Resume",
    order: 5
};
---
<a href="/assets/pdf/cbloodsworth_resume.pdf"><div style="margin-bottom: 0.25em">(pdf version)</div><br /></a>
<div class="center">
<h1>Christopher Bloodsworth</h1><p>
941-445-3628 <span class="math inline">|</span> <a
href="mailto:christopherbloodsworth@gmail.com" target="_blank" rel=noopener><u>christopherbloodsworth@gmail.com</u></a>
<span class="math inline">|</span> <a
href="https://www.linkedin.com/in/chris-bloodsworth/"><u>LinkedIn</u></a>
<span class="math inline">|</span> <a
href="https://github.com/cbloodsworth"><u>GitHub</u></a><br />
</p>
</div>
<h1 style="margin-bottom: 0.5em;" id="technical-skills-and-interests">Technical Skills and
Interests</h1>
<div class="itemize">
<p><span> <strong>Languages</strong><span>: C++, Rust, Python, Java, C,
JavaScript (TypeScript)</span><br />
<strong>Developer Tools</strong><span>: Linux, Bash, AWS (S3, EKS, EC2,
Lambda), Git, Vim, SonarQube, Docker, Kubernetes, Jenkins</span><br />
<strong>Interests</strong><span>: Compilers, language design, parallel
computing, API design</span><br />
</span></p>
</div>
<h1 style="margin-bottom: 0.5em;" id="education">Education</h1>
<ul>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Georgia Tech</strong></td>
<td style="text-align: right;">Atlanta, FL</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>Online Master of Science in Computer
Science (In Progress)</em></td>
<td style="text-align: right;"><em>August 2025 – Current</em></td>
</tr>
</tbody>
</table></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>University of
Florida</strong></td>
<td style="text-align: right;">Gainesville, FL</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>Bachelor of Science in Computer
Science, Minor in Mathematics</em></td>
<td style="text-align: right;"><em>January 2019 – May 2024</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>GPA: 3.78 </span> </span></p></li>
<li><p><span> <span>Member of the engineering honor society Tau Beta Pi.
</span> </span></p></li>
</ul></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>State College of
Florida</strong></td>
<td style="text-align: right;">Sarasota, FL</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>Associate’s Degree in Liberal Arts and
Sciences</em></td>
<td style="text-align: right;"><em>August 2018 – December 2020</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>GPA: 3.71 </span> </span></p></li>
<li><p><span> <span>Designated recipient of “Outstanding Student in
Mathematics” award. </span> </span></p></li>
</ul></li>
</ul>
<h1 style="margin-bottom: 0.5em;" id="experience">Experience</h1>
<ul>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Software Engineer</strong></td>
<td style="text-align: right;">July 2024 – Present</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>MRSL Real-Time Systems
Laboratory</em></td>
<td style="text-align: right;"><em>Sarasota, FL</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Contributing to the maintenance and evolution of a
mature, real-time signal processing framework. </span> </span></p></li>
<li><p><span> <span>Leading development of a Rust crate that provides a
safer interface to the framework’s C++/Fortran libraries. </span>
</span></p></li>
<li><p><span> <span>Designed tools to measure code coverage for the
framework’s domain-specific scripting language. </span> </span></p></li>
</ul></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Software Engineering
Intern</strong></td>
<td style="text-align: right;">May 2023 – August 2023</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>MRSL Real-Time Systems
Laboratory</em></td>
<td style="text-align: right;"><em>Sarasota, FL</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Worked closely with performance-critical digital
signal processing (DSP) applications in C++. </span> </span></p></li>
<li><p><span> <span>Designed a concurrently-executed DSP algorithm to
operate across pods in a Kubernetes cluster. </span> </span></p></li>
<li><p><span> <span>Programmed entirely on a remote instance hosted on
AWS EC2. </span> </span></p></li>
</ul></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Peer Mentor (Teaching
Assistant)</strong></td>
<td style="text-align: right;">September 2023 – May 2024</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>CEN3031: Intro to Software
Engineering</em></td>
<td style="text-align: right;"><em>University of Florida</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Used Docker to containerize and deploy a full-stack
React app for students to contribute to. </span> </span></p></li>
<li><p><span> <span>Coordinated course materials, held office hours, and
gave lectures on topics related to software engineering. </span>
</span></p></li>
</ul></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Technical Lead</strong></td>
<td style="text-align: right;">September 2022 – Present</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>Open-Source Club</em></td>
<td style="text-align: right;"><em>University of Florida</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Managed twice-weekly discussions and working
sessions for various open-source projects. </span> </span></p></li>
<li><p><span> <span>Led a group of students dedicated to the development
and usage of APIs of various complexities. </span> </span></p></li>
</ul></li>
</ul>
<h1 style="margin-bottom: 0.5em;" id="projects">Projects</h1>
<ul>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>PearTerm</strong></td>
<td style="text-align: right;">Ongoing</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>Personal</em></td>
<td style="text-align: right;"><em></em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Created a terminal and shell in Typescript to
emulate the functionality of a UNIX/sh system. </span> </span></p></li>
<li><p><span> <span>Implemented parsing of the shell language aligned
with POSIX shell standards. </span> </span></p></li>
<li><p><span> <span>Created shell built-ins, such as <code>ls</code>,
<code>cd</code> and <code>cat</code>, to interact with an in-memory
filesystem. </span> </span></p></li>
</ul></li>
<li style="list-style-type: none; margin-left: -2em; width: 100%;">
        <table style="width: 100%; margin-bottom: 0em;">
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>PLC Language
Compiler</strong></td>
<td style="text-align: right;">April 2023</td>
</tr>
<tr class="even">
<td style="text-align: left;"><em>COP4020: Programming Language
Concepts</em></td>
<td style="text-align: right;"><em>University of Florida</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span> <span>Designed and implemented a compiler for a toy
language. </span> </span></p></li>
<li><p><span> <span>Included parsing program text to an AST and Java
source code generation. </span> </span></p></li>
</ul></li>
</ul>
