{% macro projectCard(project) %}
<div
    class="project-card noselect {% if project.blogUrl or project.githubUrl %}{% else %}noclick{% endif %}"
    style="grid-row: {{ project.gridRow }}; grid-column: {{ project.gridColumn }}; {% if project.marginTop %}margin-top: auto{% endif %}"
> 
    <div class="project-title">
    {% if project.githubUrl %}
        <a href="{{ project.githubUrl }}" target="_blank" style="text-decoration: none">
            <img
                src="/assets/img/github-mark.png"
                alt="github"
                style="width: 1rem"
            />
            {{ project.name }}
        </a>
    {% else %}
        {{ project.name }}
    {% endif %}
    </div>
    
    <div class="project-thumb">
    {% if project.blogUrl %}
        <a href="{{ project.blogUrl }}">
        <img class="project-thumb" src="{{ project.imageUrl }}" alt="{{ project.altText }}" />
        <img
            src="/assets/img/list.png"
            alt="list"
            style="width: 4rem; position: absolute; right: 10%;"
        />
        </a>
    {% else %}
        <img class="project-thumb" src="{{ project.imageUrl }}" alt="{{ project.altText }}" />
    {% endif %}
    </div>
    <div class="project-info">
    <p>
        {{ project.description }}
    </p>
    </div>
    
    {% if project.blogUrl %}
    <a href=" {{ project.blogUrl }}">
        <span style="display:block; position: absolute; margin-left: -1rem; top:10%; height: 90%; width: 100%"></span>
    </a>
    {% elseif project.githubUrl %}
    <a href=" {{ project.githubUrl }}">
        <span style="display:block; position: absolute; margin-left: -1rem; top:10%; height: 90%; width: 100%"></span>
    </a>
    {% endif %}
</div>
{% endmacro %}